__pycache__
*.egg-info
venv
build
dist
**/images
**/test
**/train
**/unlabeled
**/svhn_train
**/svhn_test
**/svhn_unlabeled
**/stl_train
**/stl_test
**/stl_unlabeled
**/cifar10_train
**/cifar100_train
**/mlruns
**/labelstudio_data